.header__email {
  margin: 0;
  padding: 0;
  max-width: 300px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .header__email {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 400px) {
  .header__email {
    max-width: 100px;
  }
}