.popup__button-close {
  background-image: url(../../../images/btn-close.svg);
  width: 32px;
  height: 32px;
  padding: 0;
  background-color: transparent;
  background-size: cover;
  border: none;
  position: absolute;
  top: -40px;
  right: -39px;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 621px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}